html{
  position:relative; 
  min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,body{
  margin:0;
  padding:0;
}

body{
	font-size:18px;
	font-family:sans-serif;
	margin-bottom:100px;
}

a:hover #text-link{
	color: white;
}

img{
	max-width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
    background:#ccc;
}

.navbar{
	margin-bottom: 15px;
	min-height: 80px;
	padding: 15px;
	background-color: black;
	border-style: none;
	border-radius: 0;
}

.jumbotron{
	padding-top: 10%;
	padding-bottom: 10%;
	margin-top: 50px;
	margin-bottom: 0px;
	background-image: url("../img/studio.jpg");
	background-position: 0% 25%;
	background-size: 100%;
	color: white;
	font-size: 18px;
}

#jumbotron-container{
	background-color: rgba(0,0,0,0.9);
}

#featurette-container{
	margin-top: 20px;
}

#page-header{
	margin-top: 100px;
}

#features-title{
	text-align: center;
	font-size: 54px;
}

.featurette{
	margin-top: 0px;
	padding:20px;
	text-align: center;
	border-bottom-style: solid;
	border-width: 0.5px;
}

.column{
	padding-left: 0px !important;
}

#piggy-bank{
	height: 300px;
}
#center-btn-container{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.footer{
	text-align: center;
}


.datafield{
	width: 80%;
}

#container-login{
	margin: 0 auto;
	width: 500px;
	margin-top: 20%;
}

#page-header-centered{
	margin-top: 100px;
	text-align: center;
}

#user-options{
	margin-top: 10px;
	background: black;
	color: gray;
}

#user-add{
	margin-right: 5px;
}

.user-options-btn{
	background: transparent;
	color: gray;
	border: none;
}

.caret{
	border-width: 10px;
}

#left-navbar{
	min-height: 100%;
	float: left;
	padding: 0px;
	position: fixed;
}

#navbar-list{
	margin-top: 100px;
}

#left-navbar ul{
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
}

#left-navbar ul li{
	padding-top: 10px;
	padding-bottom: 10px;	
	color: gray;
}

#left-navbar ul li a{
	text-decoration: none;	
	color: gray;
}

#left-navbar ul li a:hover{
	color: white;
}

#wrapper{
	margin-left: 10%;
	margin-top: 20px;
	padding-left: 20px;
	padding-top: 80px;
}

#list-wrapper{
	margin-top: 20px;
}

.audio-item{
	list-style: none;
}

.audio-item-container{
	padding-top: 0px;
}

.audio-player{
	width: 100%;
}

.audio-item-right{
	padding-left: 2px;
}

.facts-list{
	padding-left: 0px;
	padding-right: 0px;
}
