<h1>SOUNDHUB PROJECT DETAIL</h1>	
    <hr>
    <h2>{title}</h2>
	<ul>
		<li>Titulo : {title}</li>
		<li>Publico/Privado : {public}</li>
		<li>Fecha inicio : {date_begin}</li>
	</ul>
	<p>{info}</p>
<h1>FILES</h1>
<hr>
{files_data}
<h1>COLLABORATORS</h1>
<hr>
{collaborators_data}